@model Nafed.MicroPay.Model.UserAccessRight
@{
    ViewBag.Title = "Leave Balance As Of Now";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
}

<style>
    .patty_panel {
        background-color: #0c858e;
        color: #ffffff;
        font-size: 14px;
    }
</style>

<div class="card_new_body">
    <div id="UserGridDiv">
        @{Html.RenderAction("SearchLeaveBalanceAsOfNowDetails");}
    </div>
</div>
<br />


<div class="card_new_body">
    <div id="MarkDiv">
        
    </div>
</div>