@using MicroPay.Web.Models
@model CandidateDetailsViewModel
@{
    var post = Model.CandidateDetails.FirstOrDefault().Post;
    ViewBag.Title = "Candidates Application Details for the Post of"+post;
    ViewBag.NavigationTitle = "Candidate Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="card_new_body">
        <div id="CandidateGridDiv">
            @Html.Partial("_CandidateDetailsGridView", Model)
        </div>
    </div>
</div>