
@{
    ViewBag.Title = "Branch";
    ViewBag.NavigationTitle = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
}

<div class="">
    <div class="card_new_body">
        <div id="UserGridDiv">
            @Html.Action("BranchGridView")
        </div>
    </div>
    
</div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            var table = $('#tblUser').DataTable();
            $('#tblUser_length').find('select').addClass('custom-select');
            //$('[data-toggle="tooltip"]').tooltip();
        });

    </script>
}











