@model MicroPay.Web.Models.ApprovalRequestVM

@Html.Partial("_NRPFLoanFilter", Model.NRPFloanFilters)

@*@Html.Partial("_Form11StatusBar")*@

<div id="div-NRPFLoan">

    @Html.Partial("_NRPFLoanGridView", Model.NRPFloanHdr)

</div>

