@using MicroPay.Web.Models
@model PropertyReturnViewModel
@{
    ViewBag.Title = "Property Return";
    ViewBag.NavigationTitle = "Property Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
}


<div>

    @*@using (Ajax.BeginForm("_GetPRGridView", "PropertyReturn", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "PRGridDiv" }, new { defaultbutton = "submitform" }))
    {*@
    
        <div class="card_new_body">
            <div id="PRGridDiv">
                @Html.Action("_GetPRGridView")
            </div>
        </div>
    @*}*@
</div>