
@using MicroPay.Web.Models
@model EmployeeViewModel
@{
    ViewBag.Title = "Upcomming Training & Previous Training Feedback Form";
    ViewBag.NavigationTitle = "Feedback Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
}

<div>
    <div class="card_new_body">
        <div id="div-Feedback-Form">
            @Html.Action("_EmployeeFeedbackFormGridView")
        </div>
    </div>

</div>










