<div class="form-group">
    <div class="row pull-left">
        <span class="bg-warning" style="float: left; width: 15px; height: 15px; margin: 10px; border-radius: 4px;">

        </span>
        <span style="line-height: 34px; float: left;color: Black">Pending</span>

        <span class="bg-info" style="float: left; width: 15px; height: 15px; margin: 10px; border-radius: 4px;">

        </span>
        <span style="line-height: 34px; float: left;color: Black">In Process</span>


        <span class="bg-success" style="float: left; width: 15px; height: 15px;  margin: 10px;
                            border-radius: 4px;"></span>
        <span style="line-height: 34px; float: left; color: Black">
            Approved
        </span>

        <span class="bg-danger" style="float: left; width: 15px; height: 15px; margin: 10px; border-radius: 4px;">
        </span>
        <span style="line-height: 34px; float: left; color: Black">Rejected</span>

        <span class="bg-dark" style="float: left; width: 15px; height: 15px; margin: 10px; border-radius: 4px;">
        </span>
        <span style="line-height: 34px; float: left; color: Black">Withdrawl</span>
    </div>
</div>
