@model Nafed.MicroPay.Model.LTCReport
@{
    ViewBag.Title = "LTC Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Validate && Model.ValidationMessage == "")
{
<input id="printdiv" type="submit" value="Print" onclick="printContent('div-LTCReport-form-container')" />
<div id="div-LTCReport-form-container" class="container-fluid">

    <style type="text/css">
        .dataTables_info {
            display: none;
        }

        .print-helper {
            display: none;
        }

        @@media print {

            table { /* tables don't split across pages if possible. */
                page-break-inside: avoid;
            }

            input[type="submit"], a {
                visibility: hidden;
            }
        }
    </style>

    @Html.Partial("_LTCReportView", Model)
</div>
}
else if (Model.Validate == false && Model.ValidationMessage != "") 
{
    <script type="text/javascript">
        commonMessage("error", "@Model.ValidationMessage");
    </script>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
        <span class="pull-right">
            @Html.ActionLink("Back to List", "LTCStatus", null, new { @class = "btn btn-light btn-md toggle-tooltip", @title = "Click here, to redirect on list page" })
        </span>
    </div>
}


<script type="text/javascript">
    function printContent(el) {
        debugger;
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        $("#btnBack").attr("display", "none");
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>
