@model Nafed.MicroPay.Model.UserRights

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <b>User Access Rights</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">    
                      
                        @if (Enumerable.Count(ViewBag.UserList) > 0)
                        {
                            <input type="checkbox" id="chkAll" /><text> All </text>
                            @Html.ListBoxFor(m => m.UserID, new SelectList(ViewBag.UserList, "id", "value"), new { @onclick = "return list_OnSelectedIndexChanged()", @class = "custom-select", @style = "height: 280px; overflow: auto;" })
                        }
                        else
                        {
                            <label style="height: 280px; overflow: auto">No Users available for this Department</label>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <b>User Rights</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 280px; overflow: auto">                        
                        @Html.Partial("_Menu")
                    </div>
                    @Html.HiddenFor(m => m.hdnCheckedVal)
                    @Html.HiddenFor(m => m.isAll)
                </div>
            </div>
        </div>
    </div>
</div>
<span class="pull-right">
    @if (Enumerable.Count(ViewBag.UserList) > 0 && Enumerable.Count(ViewBag.Menu) > 0)
    {
        <input type="submit" value="Save" class="btn btn-primary btn-md" onclick="Javascript:getCheckValues(event);" />
    }
</span>

<div class="loader2" style="display: none">
</div>
<script src="../../Scripts/JqueryTreeview.js" type="text/javascript"></script>
<script type="text/javascript">
    $('#chkAll').change(function () {
        
        if ($(this).is(':checked')) {
                $('#UserID').attr('disabled', '');
                $('ul li input:checkbox').each(function () {
                    $(this).prop('checked', true);
                });               
                $('#isAll').val('True');
                return;
            } else
                $('#UserID').removeAttr('disabled', '');
            $('#isAll').val('False');
            // respond to change
        })
    </Script>
