@model Nafed.MicroPay.Model.UserAccessRight
@{
    ViewBag.Title = "Leave Type";
    ViewBag.NavigationTitle = "Leave Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
}


<div>
    <div class="card_new_header text-right">
        @if (Model.Create)
        {
            @Html.ActionLink("Create New", "Create", "LeaveType", null, new { @class = "btn btn-info btn-sm", title = "Click here, to create new record", @data_toggle = "tooltip" })
        }
    </div>
    <div class="card_new_body">
        <div id="UserGridDiv">
            @Html.Action("LeaveTypeGridView")
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#tblUser').DataTable();
            $('#tblUser_length').find('select').addClass('custom-select');
        });
    </script>
}











