@model Nafed.MicroPay.Model.UserAccessLevel
@{
    ViewBag.Title = "User Access Level";
    ViewBag.NavigationTitle = "User Access Level";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var departmentID = Model.DepartmentID;
}
@using (Html.BeginForm("InsertUpdateUserAccessRights", "UserAccessRights", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-6">
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Departments</label>
                    <div class="col-sm-6">
                        @Html.DropDownList("DepartmentID", new SelectList(ViewBag.DepartmentList, "id", "value", departmentID), new { @class = "custom-select", @id = "DepartmentID", @onchange = "GetDepartmentUserRights();" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="UserMenuRightsDiv">
        @Html.Action("UserMenuRights", new { departmentID = @departmentID })
    </div>
}
@section scripts{
    <script src="../../Scripts/JqueryTreeview.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#DepartmentID').change(function () {
                var value = $(this).val();
                alert(value);
            });
            list_OnSelectedIndexChanged();
        });
        function GetDepartmentUserRights() {
            var departmentID = $('#DepartmentID').val();
            var url = '/UserAccessRights/UserMenuRights';
            $.post(url, { departmentID: departmentID }).done(function (data) {
                $("#UserMenuRightsDiv").html(data);
            });
        }
        function list_OnSelectedIndexChanged() {
        }
        function list_OnSelectedIndexChanged() {
            var departmentID = $('#DepartmentID').val();
            var userID = $('#UserID').val();
            if (DepartmentID != null) {
                $.ajax({
                    url:"@Url.Action("BindDepartmentUserMenuRights", "UserAccessRights")",
                    type: "GET",
                    dataType: "JSON",
                    data: { userID: userID[0], departmentID: departmentID[0] },
                    beforeSend: function () {
                        $('.loader2').show();
                    },
                    complete: function () {
                        $('.loader2').hide();
                    },
                    success: function (data) {
                        var strLength = Object.keys(data).length;
                        $('ul li input:checkbox').each(function () {
                            $(this).prop('checked', false);
                        });
                        if (strLength > 0) {
                            $.each(data, function (index, value) {
                                if (value.ShowMenu == true) {
                                    $('ul li input:checkbox').each(function () {
                                        if ($(this).val() == value.MenuID) {
                                            $(this).prop('checked', true);
                                        }
                                    });
                                }
                                else {
                                    $('ul li input:checkbox').each(function () {
                                        if ($(this).val() == value.MenuID) {
                                            $(this).prop('checked', false);
                                        }
                                    });
                                }
                            });
                        }

                    }

                });
            }
        }
        function getCheckValues(e) {
            var UserID = $("#UserID option:selected").val();
            if (UserID == "") {
                $.bootstrapGrowl("<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> Please select User.", {
                    type: 'warning',
                    align: 'center',
                    width: 'auto',
                    allow_dismiss: true
                });
                e.preventDefault();
            }
            else {
                var allVals = [];
                $('ul li input:checked').each(function () {
                    allVals.push($(this).val());
                });
                $("#hdnCheckedVal").val(allVals);
                if (allVals.length == 0) {
                    $.bootstrapGrowl("<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> Please select User rights.", {
                        type: 'warning',
                        align: 'center',
                        width: 'auto',
                        allow_dismiss: true
                    });
                    e.preventDefault();
                }
            }
        }
    </script>


}